
.alerta {
    position: absolute;
    left: 1100px;
    top: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;  
}

form{
    display: flex;
    flex-direction: column;
    border: 1px solid aliceblue;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 35%;
    margin:auto;
    

}

form input, form textarea ,form select{
  width: 250px;
  border: none;
  padding: 8px;
  border-bottom: 1px solid;
  background-color: aliceblue;  
}

form input[type=submit]{
    background-color: lightskyblue;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

select, option{
    width: 250px;
    border: 1px solid gray;
    padding: 8px;

}

.principal{
    flex-direction: row;    
}

h1{
    text-align: center;
    color: white;
    font-family:Times, Times New Roman, serif;
 
}

h3{
    text-align: center;
    color: lightskyblue;
    font-family:Times, Times New Roman, serif;
    margin:auto;
 
}
table,td,th{
    text-align: center;
    width: 60%;
    margin-top: 7%;
    margin: auto;
    
}

th{
    background-color:lightskyblue;
    color:white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 3px;
}

td{
    background-color: aliceblue;
    color:black;
    border: 1px solid gray;
    border-radius: 10px;
}

tr:hover{
    background-color: royalblue; 

    transition: 0.5s;
    
    opacity: 0.7;
}

form label{
    margin-top: 2%;
    font-size: 12px;
    color: gray;
}

form input[type=submit]:hover 

{ background-color: royalblue; 

transition: 0.5s;

opacity: 0.7;

}











